

.header{
  background-color: black;
  margin: 0;
  padding: 0;
padding-top: 32px;
   &__name{
font-family: 'Chakra Petch';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 47px;
color: #FFFFFF;
margin-bottom: 10px;
   }
   &__list{
    display: flex;
    margin: 0;
    padding: 0;
    &-item{

      margin-right: 40px;

    }
    &-link{


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
text-decoration: none;
color: #FFFFFF;


    }
   
   }
   &__nav{
    margin-right: 40px;
    padding: 11px 0px;
    border-right: 1px solid #4f4f4f;
   }
   &__language{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 37px;
    color: #FFFFFF;
    margin-right: 69px;
    
        }

        &__buttons{
          margin-top: -5px;
          margin-right: 1px;
          
        }

        &__btn{
          padding: 16px 35px;
          background: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
margin-right: 15px;
color: #FFFFFF;

border: 2px solid #FFFFFF;
border-radius: 50px;
        }
        &__btn-styles{
          padding: 18px 45px;
          margin-right: 21px;
background: linear-gradient(103.59deg, #54D6FF 13.23%, #C275FF 56.28%, #D271FF 68.02%, #F36AFF 91.95%);
border: none;
        }
        
}
.header__container{
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
 
 

}
.header__left{
  display: flex;
  align-items: center;

  img{
    width: 68px;
    margin-right: 15px;
  }
}

.header__right{
  display: flex;
  align-items: center;
  margin-top: -20px;
  img{
    width: 68px;
    margin-right: 15px;
  }
}
