.product1{
    padding-left: 154px;
    box-sizing: border-box;
    padding-right: 195px;
    overflow: hidden;
    padding-top: 219px;
}


.product{
    position: relative;
  
    
  
    &__wrapper{
        display: flex;
        justify-content: center;
      
    }
    &__title{
font-family: 'Chakra Petch';
font-style: normal;
font-weight: 600;
font-size: 85px;
line-height: 110px;
letter-spacing: -0.02em;
margin: 0;
padding: 0;
color: #FFFFFF;

span{
    margin: 0;
    padding: 0;
font-family: 'Chakra Petch';
font-style: normal;
font-weight: 600;
font-size: 85px;
background:linear-gradient(148.71deg, #B2FF0F 10.47%, #76FFEF 88.29%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

}

&__right{
    position: relative;
}
    .grant{
        color: #a1fe4e;
        }

        &__left{
            margin-right: 18px;
        }

        &__text{
            margin-right: 18px;
            padding-bottom: 65px;
            padding-top: 2px;
            position: relative;
            max-width: 689px;
        }
        &__subtitle{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
letter-spacing: 0.0265em;
color: #FFFFFF;
margin: 0;padding: 0;
max-width: 677px;
margin-left: 12px;
margin-top: 25px;
span{
    letter-spacing: 0.038em;
}
        }

        &__right{
            margin-top: 55px;
        }

        &__btn{
            text-align: left;
box-sizing: border-box;
width: 300px;
height: 78px;
border-radius: 60px 0px;
background: none;
margin-top: 27px;
    margin-left: -48px;
padding-left: 27px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 33px;
color: #FFFFFF;
position: relative;

        }

        &__btn::before{
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 60px 0px;
            padding: 3px; /* control the border thickness */
            background:linear-gradient(148.71deg, #B2FF0F 10.47%, #76FFEF 88.29%);;
            -webkit-mask: 
              linear-gradient(#fff 0 0) content-box, 
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude;
            pointer-events: none;
         
        }

        &__btn::after{
            right: 32px;
            top: 26px;
            width: 23px;
            height: 22px;
            content: '';
            position: absolute;
            background: url('../../images/right-arrow.svg');
        }
}

.product__button-block{
    display: flex;
}

.name{



font-family: 'Chakra Petch';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 180%;
color: #FFFFFF;
text-transform: uppercase;
transform: rotate(90deg);
position: absolute;
right: -38px;

bottom: 189px;
}

/* Ellipse 29 */



.corner{
    position: absolute;
    left: -48px;
    bottom: -3px;
    transform: rotate(180deg);


    &__top{
        top: 0;
        right: 0;
        position: absolute;
        top: -2px;
        right: -12px;
    }
}

.lines{
    width: 59%;
    border-bottom:1px solid #fff ;
    display: flex;
    align-items: flex-end;
}

.product__dashline{
    height: 10px;
    margin-bottom: 22px;
    width: 100%;
    border-bottom: 1px dashed #fff;
}


.product2{
    padding-left: 126px;
    padding-top: 138px;

    .product__subtitle{
        margin-left: 8px;
    margin-top: 26px;
    }

    .product__left{
        margin-right: 22px;
        margin-top: -33px;
    }
    .corner__top{
        top: 2px;
    right: 11px;
    }
    .corner{
        left: -53px;
    bottom: -16px;
    }
    .name{
        right: -29px;
        bottom: 164px;
    }
    .product__btn{
        margin-top: 40px;
        margin-left: -50px;
    }
    .product__right{
        margin-top: 55px;
        margin-right: -12px;
    }

    .product__btn::before{
        
        background:linear-gradient(103.59deg, #54D6FF 13.23%, #C275FF 56.28%, #F36AFF 91.95%);
    }

    .product__title{
        span{ margin: 0;
            padding: 0;
        font-family: 'Chakra Petch';
        font-style: normal;
        font-weight: 600;
        font-size: 85px;
        background: linear-gradient(145.54deg, #7673FF 10.4%, #42F4FF 92.38%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
           

        }
    }
}

.product3{
    padding-top: 136px;
    margin-left: -15px;
    box-sizing: border-box;
    overflow: hidden;

    .product__left {
        margin-right: 64px;
    }

    .product__subtitle{
        font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.028em;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    max-width: 685px;
    margin-left: -1px;
    margin-top: 23px;
    }

    .corner__top{
            top: 2px;
            right: -4px;
        
    }
    .corner{
        position: absolute;
        left: -44px;
        bottom: -16px;
    }

    .product__btn{
        margin-top: 41px;
        margin-left: -45px;

        &::before{
    background:  linear-gradient(144.66deg, #FF6C56 6.96%, #FF9344 88.16%);


        }
    }

    .name{
        right: -35px;
        bottom: 159px;
    }

    .product__title{
        span{ margin: 0;
            padding: 0;
        font-family: 'Chakra Petch';
        font-style: normal;
        font-weight: 600;
        font-size: 85px;
         background: linear-gradient(144.66deg, #FF6C56 6.96%, #FF9344 88.16%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
           

        }
    }
    .product__right{
        margin-top: 57px;
    }
}

