.swiper {
   width: 100%;
   height: 110px;
   margin-bottom: 154px;
}
.swiper-slide:nth-child(1){
    margin-left: 17px;
    margin-top: 6px;
  
}
.swiper-slide:nth-child(2){
    margin-left: -104px;
    margin-top: 0px;
  
}
.swiper-slide:nth-child(3){
    margin-left: -13px;
    margin-top: 4px;
  
}
.swiper-slide:nth-child(4){
    margin-left: 32px;
    margin-top: 7px;
  
}
.swiper-slide:nth-child(5){
    margin-left: 41px;
    margin-top: 0px;
  
}
.swiper-slide:nth-child(6){
    margin-left: 16px;
    margin-top: 4px;
}

.swiper-slide:nth-child(7){
    margin-left: -55px;
    margin-top: 1px;
  
}
.swiper-slide:nth-child(8){
    margin-left: 17px;
    margin-top: 6px;
  
}
.swiper-slide:nth-child(9){
    margin-left: -104px;
    margin-top: 0px;
  
}

