@font-face {
	font-family: "Chakra Petch";
	font-display: swap;
	src: url("../fonts/ChakraPetch-Bold.ttf") format("woff2");
	font-weight: 700;
	font-style: normal;
}
/* Ellipse 30 */


@font-face {
	font-family: "Chakra Petch";
	font-display: swap;
	src: url("../fonts/ChakraPetch-SemiBold.ttf") format("woff2");
	font-weight: 600;
	font-style: normal;
}
